body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}
h1 {
  font-style: italic;
  color: #373fff;
}
#actionBar {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
  background: rgba(42, 42, 42, 0.8);
  padding: 8px;
  border-radius: 4px;
  color: white;
}
select {
  margin: 4px;
}